<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{room_name}}</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8" crossorigin="anonymous"></script>
</head>
<body>
    <script>
    $(document).ready(function() {
        setInterval(function(){
            $.ajax({
                type: 'GET'
                url: 'getMessages/{{room}}/',
                success: function(response) {
                    $("#display").empty();
                    for(var key in response.messages) {
                        var temp = "<div class='container darker'><b>" + response.messages[key].user + "</b></p>" + response.messages[key].value + "</p><span class='time-left'>" + response.messages[key].date + "</span></div>";
                        $("#display").append(temp);
                    }
                },
                error: function(response) {
                    alert('An error occured')
                }
            });
        }, 1000);
      })
    </script>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="message"/>
        <input type="submit" value="send">
    </form>
</body>
<script type="text/javascript">
    $(document).on('submit', '#post-form', function() {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/send',
            data: {
                username:$('#username').val(),
                room_id:$('#room_id').val(),
                message:$('#message').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(data){
                //alert(data)

            }
        });
        document.getElementById('message').value = ""
    };
</script>
</html>